* {
  box-sizing: border-box;
  background: url("bg2.jpg") top center;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: antiquewhite;
}

.quiz-landing-page {
  padding: 5%;
  margin: auto;
  outline: none;
  border: 2px solid rgb(243, 232, 232);
  border-radius: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quiz-landing-page a {
  display: block;
  margin: 25px auto 0px;
  min-width: 50%;
  text-align: center;
  font-weight: 900;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(240, 95, 64);
  color: rgb(240, 95, 64);
  border: 1px solid rgb(154, 37, 12);
}

h3,
h5,
#question {
  text-align: center;
}
#opt1,
#opt2,
#opt3 {
  background: white;
  color: black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
}
#quiz,
#end {
  margin: 10%;
 
  padding: 10%;
  border-radius: 20px;
}
button {
  padding: 15px;
  background: rgb(154, 37, 12);
  margin: 15px 0px 20px;
  color: white;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  width: 50%;
}

